<div class="govuk-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                {% if details_data.personType.value == 'voucher'%}
                    <span class="moj-identity-bar__title">Identity Check: <b>{{ details_data.vouchingFor.firstName }} {{ details_data.vouchingFor.lastName }}</b>
                {% else %}
                    <span class="moj-identity-bar__title">Identity Check: <b>{{ firstName }} {{ lastName }}</b>
                {% endif %}
                        {% if details_data.personType.value == 'certificateProvider' %}
                            (certificate provider)
                        {% else %}
                            (donor)
                            {% if details_data.personType.value == 'voucher'%}
                                <strong class="govuk-tag govuk-!-margin-left-2">vouching route</strong>
                            {% endif %}
                        {% endif %}
                    </span>
            </div>
            <div class="moj-identity-bar__actions">
                <div class="govuk-!-static-margin-top-2">
                    <a
                        href="{{ ('/' ~ details_data['id'] ~ '/abandon-flow?last_page=' ~ path()) | basepath }}"
                        role="button"
                        draggable="false"
                        class="govuk-link govuk-!-font-size-16"
                        data-module="govuk-button"
                    >
                        Exit ID Check
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
