{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}{% endblock %}
{% block content %}
<form method="POST">
    <fieldset class="govuk-fieldset govuk-!-width-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl">{% block title %}What is the name on their ID document?{% endblock %}</h1>
        </legend>
        <div class="govuk-form-group {% if form.get('firstName').messages %}govuk-form-group--error{% endif %}">
            {% if form.get('firstName').messages %}
                <p id="first-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.get('firstName').messages | join(', ', ' and ') }}
                </p>
            {% endif %}
            <label class="govuk-label" for="voucher-first-name">
            First names, including any middle names
            </label>
            <input class="govuk-input" id="voucher-first-name" name="firstName" type="text", value= {{ form.get('firstName').value }}>
        </div>
        <div class="govuk-form-group {% if form.get('lastName').messages %}govuk-form-group--error{% endif %}">
            {% if form.get('lastName').messages %}
                <p id="last-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.get('lastName').messages | join(', ', ' and ') }}
                </p>
            {% endif %}
            <label class="govuk-label" for="voucher-last-name">
            Last name
            </label>
            <input class="govuk-input" id="voucher-last-name" name="lastName" type="text" value= {{ form.get('lastName').value }}>
        </div>
    </fieldset>
    {% if match %}
        <div class="moj-alert moj-alert--information govuk-!-width-two-thirds" role="region" aria-label="information">
            <svg class="moj-alert__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
            </svg>

            <div class="moj-alert__content">
                {% if match['type'] == 'donor' %}
                    <h2 class="govuk-heading-m" name="donor_warning">The donor is also called {{ matched_name }}. Confirm that these are two different people with the same name.</h2>
                {% elseif match['type'] == 'certificate provider' %}
                    <h2 class="govuk-heading-m" name="cp_warning">There is a certificate provider called {{ matched_name }} named on this LPA. A certificate provider vouch for the identity of a donor. Confirm that these are two different people with the same name.</h2>
                {% elseif match['type'] == 'attorney' %}
                    <h2 class="govuk-heading-m" name="attorney_warning">There is an attorney called {{ matched_name }} named on this LPA. An attorney cannot vouch for the identity of a donor. Confirm that these are two different people with the same name.</h2>
                {% elseif match['type'] == 'replacement attorney' %}
                    <h2 class="govuk-heading-m",name="ra_warning">There is a replacement attorney called {{ matched_name }} named on this LPA. A replacement attorney cannot vouch for the identity of a donor. Confirm that these are two different people with the same name.</h2>
                {% endif %}
            </div>
        </div>
        <div class="govuk-button-group">
            <input type="submit" class="govuk-button" value="Continue", name="continue-after-warning">
        </div>
    {% else %}
        <div class="govuk-button-group">
            <input type="submit" class="govuk-button" value="Continue">
        </div>
    {% endif %}
</form>
{% endblock %}

