{% extends "@layout/layout.twig" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset govuk-!-width-two-thirds" role="group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        {% block title %}
                            Choose ID document for {{ countryName }}
                        {% endblock %}
                    </h1>
                </legend>
                <p class="govuk-body">
                    If the ID document has an address, the Post Office letter must be sent to the same address, or the ID check will fail at the Post Office
                </p>
                {% if form.get('docType').messages %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.get('docType').messages | join(', ', ' and ') }}
                    </p>
                {% endif %}
                <div class="govuk-form-group">
                    <div
                            class="govuk-radios
                        {% if form.get('docType').messages %}govuk-form-group--error{% endif %}"
                            data-module="govuk-radios"
                    >
                        {% for doc in supported_docs %}
                            <div class="govuk-radios__item">
                                <input
                                        class="govuk-radios__input"
                                        id="f-docType-{{ doc.value }}"
                                        name="docType"
                                        type="radio"
                                        value="{{ doc.value }}"
                                        {% if form.get('docType').value == doc.value %}checked{% endif %}
                                >
                                <label class="govuk-label govuk-radios__label" for="f-docType-{{ doc.value }}">{{ doc.translate() }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        </div>
        <input type="submit" class="govuk-button" value="Continue">
        <a href="./po-choose-country" class="govuk-button govuk-button--secondary govuk-!-static-margin-left-4">Cancel</a>
    </form>
{% endblock %}


