{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST" target="./find-post-office-branch">
            <h1 class="govuk-heading-xl">Confirm Post Office route</h1>
            <p class="govuk-body govuk-!-width-two-thirds">
                We will send you a letter
            </p>
            <div class="govuk-summary-card govuk-!-width-two-thirds">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {{ details_data.firstName }} {{ details_data.lastName }}
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Donor Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% for line in details_data.address %}
                                    {{ line }}<br>
                                {% endfor %}
                            </dd>
                            <dd class="govuk-summary-list__actions">

                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                LPA Number(s)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                UK national resident in UK
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Document to take
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ id_method }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Post Office
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% for line in post_office_address %}
                                    {{ line }}<br>
                                {% endfor %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Submission deadline
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ deadline }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <input type="hidden" name="next_page" value="4">

            <p class="govuk-form-group">
                <a href="./what-happens-next" class="govuk-button">Continue</a>
                <a href="#" class="govuk-button govuk-button--secondary">Cancel</a>
            </p>

        </form>
    </main>
</div>
