{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST">
        <h1 class="govuk-heading-xl">
            {% block title %}
                Confirm Post Office route
            {% endblock %}
        </h1>
        <div class="govuk-summary-card govuk-!-width-two-thirds">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Summary
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" id="name">{{ details_data.firstName }} {{ details_data.lastName }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value" id="address">
                            {% for line in details_data.address %}
                                {% if line %}{{ line }}<br>{% endif %}
                            {% endfor %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value" id="dob">{{ formatted_dob }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            LPA Number(s)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for lpa, type in lpa_details %}
                                <span class="app-type-text-colour--{{ type }}" id="lpaType">{{ type }}</span>
                                <span id="lpaId">{{ lpa }}</span><br>
                            {% endfor %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Document to take
                        </dt>
                        <dd class="govuk-summary-list__value" id="displayIdMethod">{{ display_id_method }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <a
                                class="govuk-link"
                                href="post-office-documents"
                                aria-label="Change document"
                            >
                                Change
                                <span class="govuk-visually-hidden">Document</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Post Office branch
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for line in post_office_address %}
                                <span id="poAddressLine">{{ line }}</span><br>
                            {% endfor %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a
                                class="govuk-link"
                                href="find-post-office-branch"
                                aria-label="Change Post Office"
                            >
                                Change
                                <span class="govuk-visually-hidden">Post Office</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Submission deadline
                        </dt>
                        <dd class="govuk-summary-list__value" id="submissionDeadline">{{ deadline }}<input type="hidden" name="deadline" value="{{ deadline }}"></dd>
                        <dd class="govuk-summary-list__actions">

                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        {% if errors %}
            <p id="postcode-error" class="govuk-error-message">
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endif %}
        <p class="govuk-form-group">
            <input type="submit" class="govuk-button" value="Confirm and send letter" name="confirmPostOffice">
            <a href="./how-will-you-confirm" class="govuk-button govuk-button--secondary govuk-!-margin-left-4">Cancel</a>
        </p>
    </form>
{% endblock %}
