{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {% block title %}
            Find a Post Office
        {% endblock %}
    </h1>
    <p class="govuk-body govuk-!-width-two-thirds">
        Not all Post Offices provide this service, please confirm your postcode so I can find your nearest
        Post
        Office
    </p>

    <h2 class="govuk-heading-m govuk-!-width-two-thirds">Enter postcode</h2>
    <form method="POST">
        <div class="govuk-form-group {% if location_form.get('location').messages %}govuk-form-group--error{% endif %}">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s app-text-gray govuk-body" for="location">
                    Enter a postcode, town, or street name
                </label>
            </h1>

            {% if location_form.get('location').messages %}
                <p id="dln-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ location_form.get('location').messages | join(', ', ' and ') }}
                </p>
            {% endif %}
            <input class="govuk-input govuk-!-width-one-third" id="location" name="location"
                    type="text" value="{{ location }}">
            <input type="submit" class="govuk-button govuk-button--secondary" value="Search"/>
        </div>
    </form>
    <form method="POST">
        <div class="govuk-form-group {% if form.get('postoffice').messages %}govuk-form-group--error{% endif %}">
            {% if form.get('postoffice').messages %}
                <p id="dln-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.get('postoffice').messages | join(', ', ' and ') }}
                </p>
            {% endif %}
            <fieldset class="govuk-fieldset">
                {% for fad, item in post_office_list %}
                    <div class="govuk-radios__item">
                        <input
                                class="govuk-radios__input"
                                id="postOffice-{{ fad }}"
                                name="postoffice"
                                type="radio"
                                value="{{ fad }}"
                                data-aria-controls="default"
                        />
                        <label class="govuk-label govuk-radios__label" for="{{ fad }}">
                            {{ item.name }}<br>
                            {{ item.address }}, {{ item.post_code }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>

            <input type="hidden" name="next_page" value="3">
        </div>
        <p class="govuk-form-group">
            <input type="submit" class="govuk-button" value="Continue"/>
            <a href="./how-will-you-confirm" class="govuk-button govuk-button--secondary govuk-!-static-margin-left-4">Cancel</a>
        </p>
    </form>
{% endblock %}
