{% extends "@layout/layout.twig" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {% block title %}
            Post Office branch finder
        {% endblock %}
    </h1>
    <p class="govuk-body govuk-!-width-two-thirds">
        Not all Post Office branches offer identity verification. We will include your preferred post office on the letter
        we send to you, but you can go to any branch that provide the service.
    </p>

    <h2 class="govuk-heading-m govuk-!-width-two-thirds">Search for a Post Office</h2>
    <form method="POST">
        <div class="govuk-form-group {% if search_form.get('searchString').messages %}govuk-form-group--error{% endif %}">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s app-text-gray govuk-body" for="searchString">
                    Enter a postcode, town, or street name
                </label>
            </h1>

            {% if search_form.get('searchString').messages %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    <span id="searchString-error">{{ search_form.get('searchString').messages | join(', ', ' and ') }}</span>
                </p>
            {% endif %}
            <input class="govuk-input govuk-!-width-one-third" id="searchString" name="searchString" type="text" value="{{ searchString }}">
            <input type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-margin-bottom-1" value="Search for a Post Office"/>
        </div>
        <h2 class="govuk-heading-m govuk-!-width-two-thirds">Select a preferred Post Office</h2>
        <div id="post-office-results-hint" class="govuk-hint">
            Search results are in order of distance, starting with the nearest branch
        </div>
        <div class="govuk-form-group {% if form.get('postoffice').messages %}govuk-form-group--error{% endif %}">
            {% if form.get('postoffice').messages %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    <span id="postoffice-error">{{ form.get('postoffice').messages | join(', ', ' and ') }}</span>
                </p>
            {% endif %}
            <fieldset class="govuk-fieldset">
                {% for fad, item in post_office_list %}
                    <div class="govuk-radios__item">
                        <input
                            class="govuk-radios__input"
                            id="postoffice-{{ fad }}"
                            name="postoffice"
                            type="radio"
                            value="{{ item|json_encode }}"
                            data-aria-controls="default"
                        >
                        <label class="govuk-label govuk-radios__label" for="postoffice-{{ fad }}">
                            {{ item.name }}<br>
                            <span id="poAddress-{{ fad }}">{{ item.address }}, {{ item.post_code }}</span>
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <p class="govuk-form-group">
            <input type="submit" class="govuk-button" value="Continue" name="selectPostoffice">
            <a href="./how-will-you-confirm" class="govuk-button govuk-button--secondary govuk-!-static-margin-left-4">Cancel</a>
        </p>
    </form>
{% endblock %}
