{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    {% if form.get('lpa').messages %}
        <div class="moj-banner moj-banner--warning govuk-!-width-two-thirds" role="region" aria-label="Warning">
            <p class="govuk-body">
                <b>There is a problem</b>
            </p>
            <div class="moj-banner__message">
                Not a valid LPA number. Enter an LPA number to continue.
            </div>
        </div>
    {% endif %}
    {% if lpa_response %}
        {% if lpa_response['messages']|length > 0 %}

            {% for key,message in lpa_response['messages'] %}

                <div class="moj-banner moj-banner--warning govuk-!-width-two-thirds" role="region" aria-label="Warning">
                    <p class="govuk-body">
                        <b>There is a problem</b>
                    </p>
                    <div class="moj-banner__message">
                        {{ message|raw }}

                        {% if lpa_response['additionalData'][key] %}
                            <br><br>This ID check is for:
                            <table class="govuk-table govuk-!-width-one-half">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Name</th>
                                    <td class="govuk-table__cell">
                                        {{ details_data['firstName'] }}
                                        {{ details_data['lastName'] }}
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">Address</th>
                                    <td class="govuk-table__cell">
                                        {% for line in details_data['address'] %}
                                            {% if line %}
                                                {{ line }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

    <h1 class="govuk-heading-xl">{% block title %}Find an LPA to add{% endblock %}</h1>

    <p class="govuk-body govuk-hint">
        LPA reference numbers are 12 numbers long. For
        <br>
        example: M-0000-0000-0000
    </p>
    <div class="govuk-form-group {% if form.get('lpa').messages %}govuk-form-group--error{% endif %}">
        <form method="POST">
            <input
                    class="govuk-input govuk-!-width-one-third {% if form.get('lpa').messages %}govuk-input--error{% endif %}"
                    id="lpa"
                    name="lpa"
                    type="text"
                    autocomplete="off"
                    value="{{ form.get('lpa').value }}"
                    aria-describedby="lpa-hint {% if form.get('lpa').messages %}lpa-error{% endif %}"
            />
            <input type="submit" class="govuk-button" value="Find LPA">
        </form>

        {% if lpa_response %}
            {%  if lpa_response.status != 'Not Found' %}
            <div class="govuk-form-group">
                <table class="govuk-table govuk-!-width-two-thirds">
                    <caption class="govuk-table__caption govuk-table__caption--m">Results</caption>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">LPA Number</th>
                        <td class="govuk-table__cell">{{ lpa_response['data']['lpa_number'] }}</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Type of LPA</th>
                        <td class="govuk-table__cell">
                            {% if lpa_response['data']['type_of_lpa'] == 'property-and-affairs' %}
                            Property and affairs
                            {% elseif lpa_response['data']['type_of_lpa'] == 'personal-welfare' %}
                            Personal welfare
                            {%  endif %}
                        </td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Donor</th>
                        <td class="govuk-table__cell">{{ lpa_response['data']['donor'] }}</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell">{{ lpa_response['data']['lpa_status']|format_status }}</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">CP name</th>
                        <td class="govuk-table__cell">{{ lpa_response['data']['cp_name'] }}</td>
                        <td class="govuk-table__cell">
                            {% if lpa_response['status'] == 'no match' %}
                                {% if lpa_response['additionalData']['name_match'] == false %}
                                    <strong class="govuk-tag govuk-tag--red">
                                        Does not match
                                    </strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--green">
                                        Match
                                    </strong>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row"
                                {% if lpa_response['status'] == 'no match' %}
                                    class="govuk-table__header app-table__cell--no-border"
                                {% else %}
                                    class="govuk-table__header"
                                {% endif %}
                        >
                            CP address
                        </th>
                        <td class="govuk-table__cell {% if lpa_response['status'] == 'no match' %}app-table__cell--no-border{% endif %}">
                            {% for line in lpa_response['data']['cp_address'] %}
                                {% if line %}
                                    {{ line }}<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="govuk-table__cell {% if lpa_response['status'] == 'no match' %}app-table__cell--no-border{% endif %}">
                            {% if lpa_response['status'] == 'no match' %}
                                {% if lpa_response['additionalData']['address_match'] == false %}
                                    <strong class="govuk-tag govuk-tag--red">
                                        Does not match
                                    </strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--green">
                                        Match
                                    </strong>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% if lpa_response['status'] == 'no match' %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">
                                <a href="" class="govuk-link">Edit CP details in Sirius</a>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        {% endif %}
    </div>
    {% if lpa_response %}
        <form method="POST">
            {% if lpa_response['messages']|length == 0 %}
                <input type="hidden" name="add_lpa_number" value="{{ lpa_response['data']['lpa_number'] }}">
                <input type="submit" class="govuk-button" value="Add LPA to this ID check">
            {% endif %}
        </form>
    {% endif %}
    <a href="./confirm-lpas" class="govuk-button govuk-button--secondary">Return to LPA list</a>
{% endblock %}

