{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}

    {% if (date_problem or date_error) %}
        <div class="moj-banner moj-banner--warning govuk-!-width-two-thirds" role="region" aria-label="Warning">
            {% if date_error %}
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" />
                </svg>

                <div class="moj-banner__message">
                    <span class="govuk-visually-hidden">Error:</span>
                    <div class="moj-banner__message" name="donor_underage_warning">{{ date_error }}</div>
                </div>
            {% else %}
                <h2 class="govuk-heading-m">There is a problem</h2>
                {% for problem in date_problem %}
                    <div class="govuk-error-message" name="date_problem"><span class="govuk-visually-hidden">Error:</span><u>{{ problem }}</u></div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <form method="POST">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        {% block title %}
                            What is their date of birth?
                        {% endblock %}
                    </h1>
                </legend>
                <p class="govuk-body govuk-!-width-two-thirds">
                    To perform the fraud and identity checks we need some additional
                    information including date of birth. We do not hold the certificate provider's
                    date of birth in Sirius as standard, so we need to ask for this now.
                </p>
                <div class="govuk-form-group">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            Note: date of birth is only used for this identity check, we will not <br>
                            save it or store it in Sirius.
                        </strong>
                    </div>
                </div>
                <h2 class="govuk-heading-m">Enter date of birth</h2>
                <div id="passport-issued-hint" class="govuk-hint">
                    Enter date of birth, for example 31 03 1980
                </div>
                {% if form.get('date').messages %}
                    <p id="lpa-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.get('date').messages | join(', ', ' and ') }}
                    </p>
                {% endif %}

                <div {% if date_problem or date_error %}class="govuk-form-group--error"{% endif %}>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-day">
                                    Day
                                </label>
                                <input
                                        class="govuk-input govuk-date-input__input govuk-input--width-2 {% if date_problem or date_error %}govuk-input--error{% endif %}"
                                        id="dob-day"
                                        name="dob_day"
                                        type="text"
                                        inputmode="numeric"
                                        value="{{ form.get('dob_day').value }}"
                                >
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-month">
                                    Month
                                </label>
                                <input
                                        class="govuk-input govuk-date-input__input govuk-input--width-2 {% if date_problem or date_error %}govuk-input--error{% endif %}"
                                        id="dob-month"
                                        name="dob_month"
                                        type="text"
                                        inputmode="numeric"
                                        value="{{ form.get('dob_month').value }}"
                                >
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-year">
                                    Year
                                </label>
                                <input
                                        class="govuk-input govuk-date-input__input govuk-input--width-4 {% if date_problem or date_error %}govuk-input--error{% endif %}"
                                        id="dob-year"
                                        name="dob_year"
                                        type="text"
                                        inputmode="numeric"
                                        value="{{ form.get('dob_year').value }}"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <input type="submit" class="govuk-button" value="Continue">
    </form>
{% endblock %}
