{% extends "@layout/layout.twig" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST" class="govuk-!-width-three-quarters">
        <h1 class="govuk-heading-xl">
            {% block title %}
                LPAs included in the identity check
            {% endblock %}
        </h1>

        <p class="govuk-body">
            Certificate providers may be on more than 1 LPA and may want to confirm their identity for multiple
            LPAs at the same time.
        </p>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            LPAs for certificate provider:
                            {{ details_data.firstName }}
                            {{ details_data.lastName }}
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key  govuk-!-width-one-half">
                                    LPA reference number
                                </dt>
                                <dt class="govuk-summary-list__key">
                                    Donor
                                </dt>
                                <dt class="govuk-summary-list__key">
                                    Action
                                </dt>
                            </div>
                            {% for index, datum in lpa_details %}
                                <div class="govuk-summary-list__row">
                                    <dd class="govuk-summary-list__value">
                                        <span class="app-type-text-colour--{{ datum['type'] }}">
                                            {{ datum['type'] }}
                                        </span>
                                        {{ index }}
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                        {{ datum['name'] }}
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                        {% if lpa_count > 1 %}
                                            <a
                                                href="./remove-lpa/{{ index }}"
                                                class="govuk-link"
                                            >
                                                Remove
                                                <span class="govuk-visually-hidden">LPA {{ index }}</span>
                                            </a>
                                        {% endif %}
                                    </dd>
                                </div>
                            {% endfor %}
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                </dd>
                                <dd class="govuk-summary-list__value">
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    <a
                                            href="./add-lpa"
                                            class="govuk-button govuk-button--secondary"
                                    >
                                        Add another LPA
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </fieldset>
        </div>
        <a href="./confirm-dob" class="govuk-button">Continue</a>
    </form>
{% endblock %}


