{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST" class="govuk-!-width-two-thirds">

        <h1 class="govuk-heading-xl">
            {% block title %}
                    {% if details_data.idMethod.idRoute == 'POST_OFFICE' %}
                        {% if
                            details_data.idMethod.docType == 'DRIVING_LICENCE' and
                            details_data.idMethod.idCountry == 'GBR'
                        %}
                            Does the address on the driving licence match the address in Sirius?
                        {% else %}
                            Post Office letter
                        {% endif %}
                    {% else %}
                        Does the address on the ID document match the address in Sirius?
                    {% endif %}
            {% endblock %}
        </h1>
        {% if details_data.idMethod.idRoute == 'POST_OFFICE' %}
            {% if
                details_data.idMethod.docType == 'DRIVING_LICENCE' and
                details_data.idMethod.idCountry == 'GBR'
            %}
                <p class="govuk-body" id="PO_GBR_DL">
                    The address on their driving licence must be the same on the letter they take to the Post Office, or the ID check will fail.
                </p>
                <p class="govuk-body">
                    In the role of certificate provider, they might have registered a business or professional address with us.
                </p>
                <p class="govuk-body">
                    We need to either confirm the Sirius record is their driving licence address or capture it on the next page. Alternately, <a href="../post-office-documents" class="govuk-link govuk-link--no-visited-state">choose a different ID document to take to the Post Office</a>.
                </p>
            {% else %}
                <p class="govuk-body" id="PO_NON_GBR_DL">
                    In the role of certificate provider, they might have registered a business or professional address with us.
                </p>
                <p class="govuk-body">
                    We need to either confirm the Sirius record is where we should send the letter of capture another address on the next page.
                </p>
            {% endif %}
        {% else %}
            <p class="govuk-body" id="NOT_PO">
                To perform the fraud and identity checks, a check is made against the certificate provider’s home
                address.
            </p>
            <p class="govuk-body">
                In the role of certificate provider, they might have registered a business or professional address with
                us.
            </p>
            <p class="govuk-body">
                We need to either confirm the Sirius record is their home address or capture it on the next page.
            </p>
        {% endif %}

        {% if details_data.professionalAddress %}
            <div class="govuk-inset-text app-inset-text-blue">
                <h2 class="govuk-heading-m">Sirius record</h2>
                <h3 class="govuk-heading-s">Address</h3>

                <p class="govuk-body">
                    {% for line in details_data.professionalAddress %}
                        {% if line > 0 %}
                            {{ line }}<br>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="govuk-inset-text app-inset-text-blue">
                <h2 class="govuk-heading-m">Address for identity check</h2>

                <p class="govuk-body">
                    {% for line in details_data.address %}
                        {% if line  %}
                            {{ line }}<br>
                        {% endif %}
                    {% endfor %}
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="{{ ('/' ~ details_data['id'] ~ '/cp/enter-address-manual') | basepath }}">Edit this address</a>
                </p>
                <input type="hidden" name="confirm_alt" value="confirmed">
            </div>
        {% else %}
            <div class="govuk-inset-text app-inset-text-blue">
                <h2 class="govuk-heading-m">Sirius record</h2>
                <h3 class="govuk-heading-s">Address</h3>

                <p class="govuk-body">
                    {% for line in details_data.address %}
                        {% if line > 0 %}
                            {{ line }}<br>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h3 class="govuk-fieldset__heading">
                            {% if details_data.idMethod.idRoute == 'POST_OFFICE' %}
                                {% if
                                    details_data.idMethod.docType == 'DRIVING_LICENCE' and
                                    details_data.idMethod.idCountry == 'GBR'
                                %}
                                    Is this the address on the driving licence?
                                {% else %}
                                    Send the letter to this address?
                                {% endif %}
                            {% else %}
                                Is this the address for the chosen ID document?
                            {% endif %}
                        </h3>
                    </legend>
                    {% if form.get('chosenAddress').messages %}
                        <p id="form-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.get('chosenAddress').messages | join(', ', ' and ') }}
                        </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="chosenAddressYes" name="chosenAddress"
                                    type="radio"
                                    value="yes">
                            <label class="govuk-label govuk-radios__label" for="chosenAddressYes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="chosenAddressNo" name="chosenAddress"
                                    type="radio"
                                    value="no">
                            <label class="govuk-label govuk-radios__label" for="chosenAddressNo">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>
        {% endif %}
        <input type="submit" class="govuk-button" value="Continue">
    </form>
{% endblock %}
