{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-width-two-thirds">
    {% block title %}
        What is the address?
    {% endblock %}
</h1>
<form method="POST" action="">
    <div class="govuk-form-group {% if form.get('line1').messages %}govuk-form-group--error{% endif %}">
        {% if form.get('line1').messages %}
            <p id="line1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ form.get('line1').messages | join(', ', ' and ') }}
            </p>
        {% endif %}
        <label for="line1" class="govuk-label">Address line 1</label>
        <input
                class="govuk-input govuk-!-width-one-third {% if form.get('line1').messages %}govuk-input--error{% endif %}"
                id="line1" name="line1" type="text"
                value="{{ form.get('line1').value }}"
        />
    </div>

    <div class="govuk-form-group">
        <label for="line2" class="govuk-label">Address line 2 (optional)</label>
        <input
                class="govuk-input govuk-!-width-one-third"
                id="line2" name="line2" type="text"
                value="{{ form.get('line2').value }}"
        />
    </div>

    <div class="govuk-form-group">
        <label for="line3" class="govuk-label">Address line 3 (optional)</label>
        <input
                class="govuk-input govuk-!-width-one-third"
                id="line3" name="line3" type="text"
                value="{{ form.get('line3').value }}"
        />
    </div>

    <div class="govuk-form-group {% if form.get('town').messages %}govuk-form-group--error{% endif %}">
        {% if form.get('town').messages %}
            <p id="town-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ form.get('town').messages | join(', ', ' and ') }}
            </p>
        {% endif %}
        <label for="town" class="govuk-label">Town or City</label>
        <input
                class="govuk-input govuk-!-width-one-third {% if form.get('town').messages %}govuk-input--error{% endif %}"
                id="town" name="town" type="text"
                value="{{ form.get('town').value }}"
        />
    </div>

    <div class="govuk-form-group {% if form.get('postcode').messages %}govuk-form-group--error{% endif %}">
        {% if form.get('postcode').messages %}
            <p id="postcode-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ form.get('postcode').messages | join(', ', ' and ') }}
            </p>
        {% endif %}
        <label for="postcode" class="govuk-label">Postcode</label>
        <input
                class="govuk-input govuk-!-width-one-third {% if form.get('postcode').messages %}govuk-input--error{% endif %}"
                id="postcode" name="postcode" type="text"
                value="{{ form.get('postcode').value }}"
        />
    </div>

    <div class="govuk-form-group">
        <label for="country" class="govuk-label">Country</label>
        <select class="govuk-select" id="country" name="country">
            {% for country in country_list %}
                <option value="{{ country['label'] }}" {% if form.get('country').value == country['label'] %}selected{% elseif country['handle'] == "GB" %}selected{% endif %}>
                    {{ country['label'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <input type="submit" class="govuk-button" data-module="govuk-button" value="Continue"/>
</form>
{% endblock %}
