{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}

    {% if (match or date_problem or date_error) %}
        <section class="govuk-!-width-full">
            <div class="moj-alert moj-alert--error" role="region" aria-label="Warning">
                {% if (date_error or match) %}
                    <div>
                        <svg class="moj-alert__icon" fill="currentColor" role="presentation" focusable="false"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                            <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
                        </svg>
                    </div>
                {% endif %}

                {% if date_error %}
                    <div></div>
                    <div class="moj-alert__content">
                        <span class="govuk-visually-hidden">Error:</span>
                        <div class="moj-alert__content" name="donor_underage_warning"><strong>{{ date_error }}</strong>
                        </div>
                    </div>
                {% elseif match['type'] == 'donor' %}
                    <div></div>
                    <div class="moj-alert__content" name="donor_warning"><strong>The person vouching cannot have the
                            same name and date of birth as the donor.</strong></div>
                {% elseif match['type'] == 'certificate provider' %}
                    <div></div>
                    <div class="moj-alert__content" name="cp_warning"><strong>The person vouching cannot have the same
                            name and date of birth as the certificate provider.</strong></div>
                {% elseif match['type'] == 'attorney' %}
                    <div></div>
                    <div class="moj-alert__content" name="attorney_warning"><strong>The person vouching cannot have the
                            same name and date of birth as an attorney.</strong></div>
                {% elseif match['type'] == 'replacement attorney' %}
                    <div></div>
                    <div class="moj-alert__content" ,name="ra_warning"><strong>The person vouching cannot have the same
                            name and date of birth as a replacement attorney.</strong></div>
                {% else %}
                    <div></div>
                    <div class="moj-alert__content">
                        <h2 class="govuk-heading-m">There is a problem</h2>
                        {% for problem in date_problem %}
                            <div class="govuk-error-message" name="date_problem"><span class="govuk-visually-hidden">Error:</span><u>{{ problem }}</u>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    <form method="POST">
        {% if (displaying_dob_100_warning) %}
            <input type="hidden" name="dob_warning_100_accepted" value="true"/>
        {% endif %}
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                        {% block title %}
                            What is their date of birth?
                        {% endblock %}
                    </h1>
                </legend>

                {% if (include_fraud_id_check_info) %}
                    <p class="govuk-body govuk-!-width-two-thirds">
                        To perform the fraud and identity checks we need some additional
                        information including date of birth. We do not hold the certificate provider's
                        date of birth in Sirius as standard, so we need to ask for this now.
                    </p>

                    <div class="govuk-form-group">
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                Note: date of birth is only used for this identity check, we will not <br>
                                save it or store it in Sirius.
                            </strong>
                        </div>
                    </div>
                {% endif %}

                {% if details_data.personType == 'certificateProvider' %}
                    <h2 class="govuk-heading-m">Enter date of birth</h2>
                {% endif %}
                <div id="passport-issued-hint" class="govuk-hint">
                    For example, 31 3 1980.
                </div>
                {% if form.get('date').messages %}
                    <p id="lpa-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.get('date').messages | join(', ', ' and ') }}
                    </p>
                {% endif %}

                <div {% if date_problem or date_error %}class="govuk-form-group--error"{% endif %}>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-day">
                                    Day
                                </label>
                                <input
                                        class="govuk-input govuk-date-input__input govuk-input--width-2 {% if date_problem or date_error %}govuk-input--error{% endif %}"
                                        id="dob-day"
                                        name="dob_day"
                                        type="text"
                                        inputmode="numeric"
                                        value="{{ form.get('dob_day').value }}"
                                        maxlength="2"
                                >
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-month">
                                    Month
                                </label>
                                <input
                                        class="govuk-input govuk-date-input__input govuk-input--width-2 {% if date_problem or date_error %}govuk-input--error{% endif %}"
                                        id="dob-month"
                                        name="dob_month"
                                        type="text"
                                        inputmode="numeric"
                                        value="{{ form.get('dob_month').value }}"
                                        maxlength="2"
                                >
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-year">
                                    Year
                                </label>
                                <input
                                        class="govuk-input govuk-date-input__input govuk-input--width-4 {% if date_problem or date_error %}govuk-input--error{% endif %}"
                                        id="dob-year"
                                        name="dob_year"
                                        type="text"
                                        inputmode="numeric"
                                        value="{{ form.get('dob_year').value }}"
                                        maxlength="4"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                {% if (displaying_dob_100_warning) %}
                    <br/>
                    <div class="moj-alert moj-alert--information" role="region" aria-label="information">
                        <svg class="moj-alert__icon" fill="currentColor" role="presentation" focusable="false"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
	C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"/>
                        </svg>
                        <div class="moj-alert__content">
                            <h2 class="govuk-heading-m">{{ warning_message }}</h2>
                        </div>
                    </div>
                    <input type="hidden" name="dob_warning_100_accepted" value="true"/>
                {% endif %}
            </fieldset>
        </div>
        <input type="submit" class="govuk-button" value="Continue">
    </form>
{% endblock %}
