{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {% block title %}
            UK Driving Licence
        {% endblock %}
    </h1>
    <form method="POST" target="">
        <h2 class="govuk-heading-m">Name on licence</h2>
        <p class="govuk-body">
            {{ details_data.firstName }} {{ details_data.lastName }}
        </p>
        <h2 class="govuk-heading-m">Date of birth</h2>
        <p class="govuk-body">
            {{ formattedDob }}
        </p>
        <div class="govuk-form-group {% if form.get('dln').messages %}govuk-form-group--error{% endif %}">
            <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="dln">
                    Driving licence number
                </label>
            </h2>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Where to find the driving licence number
                    </span>
                </summary>
                <div class="govuk-details__text govuk-!-padding-bottom-0">
                    The driving licence number is found in section 5 of the details section for both paper and photo
                    ID
                    licences. Example:
                    <img src="{{ '/assets/images/driving_licence_sample.png' | basepath }}"
                            alt="Driving licence highlighting location of licence number"/>
                </div>
            </details>

            <p id="dln-hint" class="govuk-hint">
                A driving licence number is 16-digits. Example: MORGA657054SM9IJ
            </p>

            {% if form.get('dln').messages %}
                <p id="dln-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.get('dln').messages | join(', ', ' and ') }}
                </p>
            {% endif %}

            {% if route_availability.data.DRIVING_LICENCE %}
                <input
                        class="govuk-input govuk-!-width-one-third {% if form.get('dln').messages %}govuk-input--error{% endif %}"
                        id="dln" name="dln" type="text" autocomplete="off"
                        value="{{ form.get('dln').value }}"
                        aria-describedby="dln-hint {% if form.get('dln').messages %}dln-error{% endif %}"
                />
            {% else %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        This identity verification option is not available at present
                    </strong>
                </div>
            {% endif %}

        </div>

        <div class="govuk-form-group {% if form.get('inDate').messages %}govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset" aria-describedby="govuk-error-message">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-fieldset__heading">
                        Driving licence in date?
                    </h2>
                </legend>
                {% if form.get('inDate').messages %}
                    <p id="inDate-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.get('inDate').messages | join(', ', ' and ') }}
                    </p>
                {% endif %}
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="inDateTrue" name="inDate" type="radio"
                                value="yes">
                        <label class="govuk-label govuk-radios__label" for="inDateTrue">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="inDateFalse" name="inDate" type="radio"
                                value="no">
                        <label class="govuk-label govuk-radios__label" for="inDateFalse">No</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Ensure the details entered are correct before continuing
            </strong>
        </div>
        <div class="govuk-button-group">
            <button class="govuk-button">Continue</button>
                <a href="./how-will-you-confirm" role="button" draggable="false"
                    class="govuk-button govuk-button--secondary govuk-!-static-margin-left-2"
                    data-module="govuk-button">
                    Try a different method
                </a>
        </div>
    </form>
{% endblock %}
