{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if service_availability.messages.banner %}
                    <div class="govuk-notification-banner" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__content">
                            <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon moj-ticket-panel__content--blue moj-tag--blue"
                              aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    {#                        <span class="govuk-visually-hidden">Warning</span> #}
                                    {{ service_availability.messages.banner }}
                                </strong>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h1 class="govuk-heading-xl">{% block title %}How will you confirm your identity?{% endblock %}</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% if service_availability.data.EXPERIAN %}
                <h2 class="govuk-heading-m">Preferred: ID over the phone</h2>

                <div class="govuk-form-group">
                    <p class="govuk-body">
                        Confirming your identity over the phone is the quickest and easiest option - you will need an
                        National Insurance number, passport or driving licence.
                    </p>

                    <div class="govuk-inset-text">
                        <h3 class="govuk-heading-s">Read the following to the caller:</h3>

                        <p class="govuk-body">
                            Confirming your identity over the phone is the quickest and easiest option - you will need
                            an National Insurance number, passport or driving licence.
                        </p>

                        <p class="govuk-body">
                            We will check your identity, using the details you provide. We will also check your name,
                            address and date of birth against a fraud database.
                        </p>

                        <p class="govuk-body">
                            To ensure you are who you say you are, and to stop other people pretending to be you, we
                            will also ask you a few security questions that only you would know the answer to. We use
                            another organisation to generate these questions, and check your answers against information
                            they have access to.
                        </p>

                        <p class="govuk-body">
                            Can you confirm you're happy with us doing that and which document you would like to use to
                            identify with?
                        </p>
                    </div>
                </div>
                {% endif %}

                <div class="govuk-form-group {% if form.get('id_method').messages %}govuk-form-group--error{% endif %}">

                    {% if form.get('id_method').messages %}
                        <p id="id_method-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.get('id_method').messages | join(', ', ' and ') }}
                        </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">


                            <div class="govuk-radios__item
                                    {% if not service_availability.data.NATIONAL_INSURANCE_NUMBER %} moj-hidden{% endif %}
                                ">
                                <input class="govuk-radios__input" id="NATIONAL_INSURANCE_NUMBER" name="id_method"
                                       type="radio"
                                       value="NATIONAL_INSURANCE_NUMBER">
                                <label class="govuk-label govuk-radios__label" for="NATIONAL_INSURANCE_NUMBER">National
                                    insurance number</label>
                            </div>

                            <div class="govuk-radios__item
                                    {% if not service_availability.data.PASSPORT %} moj-hidden{% endif %}
                                ">
                                <input class="govuk-radios__input" id="PASSPORT" name="id_method" type="radio"
                                       value="PASSPORT">
                                <label class="govuk-label govuk-radios__label" for="PASSPORT">
                                    UK Passport (current or expired in the last 18 months)

                                    <details
                                            class="govuk-details govuk-!-margin-top-4 govuk-!-margin-bottom-0" {% if details_open %} open {% endif %}>
                                        <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Help with checking if passport is in date
                                </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            Enter passport expiry date. For example 31 03 2012

                                            <div class="govuk-date-input" id="passport-issued">
                                                <div class="govuk-date-input__item">
                                                    <div class="govuk-form-group">
                                                        <label class="govuk-label govuk-date-input__label"
                                                               for="passport-issued-day">
                                                            Day
                                                        </label>
                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                               id="passport-issued-day"
                                                               name="passport_issued_day" type="text"
                                                               inputmode="numeric"
                                                               value="{{ date_sub_form.get('passport_issued_day').value }}">
                                                    </div>
                                                </div>
                                                <div class="govuk-date-input__item">
                                                    <div class="govuk-form-group">
                                                        <label class="govuk-label govuk-date-input__label"
                                                               for="passport-issued-month">
                                                            Month
                                                        </label>
                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                               name="passport_issued_month" id="passport-issued-month"
                                                               type="text"
                                                               inputmode="numeric"
                                                               value="{{ date_sub_form.get('passport_issued_month').value }}">
                                                    </div>
                                                </div>
                                                <div class="govuk-date-input__item">
                                                    <div class="govuk-form-group">
                                                        <label class="govuk-label govuk-date-input__label"
                                                               for="passport-issued-year">
                                                            Year
                                                        </label>
                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                               name="passport_issued_year" id="passport-issued-year"
                                                               type="text"
                                                               inputmode="numeric"
                                                               value="{{ date_sub_form.get('passport_issued_year').value }}">
                                                    </div>
                                                </div>
                                                <div class="govuk-date-input__item">
                                                    <button
                                                            class="app-button--align-baseline govuk-button govuk-button--secondary"
                                                            name="check_button"
                                                    >Check
                                                    </button>
                                                </div>

                                                {% if invalid_date %}
                                                    <div class="govuk-date-input__item">
                                                        <div class="moj-banner moj-banner--warning moj-banner--date app-moj-banner"
                                                             role="region"
                                                             aria-label="Warning">
                                                            <svg class="moj-banner__icon" fill="currentColor"
                                                                 role="presentation"
                                                                 focusable="false"
                                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"
                                                                 height="25" width="25">
                                                                <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
                                                            </svg>
                                                            <div class="moj-banner__message">Out of date</div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if valid_date %}
                                                    <div class="govuk-date-input__item">
                                                        <div class="moj-banner moj-banner--success moj-banner--date app-moj-banner"
                                                             role="region"
                                                             aria-label="Success">
                                                            <svg class="moj-banner__icon" fill="currentColor"
                                                                 role="presentation"
                                                                 focusable="false"
                                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"
                                                                 height="25" width="25">
                                                                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
                                                            </svg>
                                                            <div class="moj-banner__message">In date</div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </details>
                                </label>
                            </div>

                            <div class="govuk-radios__item
                                    {% if not service_availability.data.DRIVING_LICENCE %} moj-hidden{% endif %}
                                ">
                                <input class="govuk-radios__input" id="DRIVING_LICENCE" name="id_method"
                                       type="radio"
                                       value="DRIVING_LICENCE">
                                <label class="govuk-label govuk-radios__label" for="DRIVING_LICENCE">
                                    UK driving licence (must be current)
                                </label>
                            </div>
                    </div>
                </div>
                <div class="govuk-form-group  {% if form.get('id_method').messages %}govuk-form-group--error{% endif %}">
                    <h2 class="govuk-heading-m">
                        {% if service_availability.data.EXPERIAN %}
                            If unable to ID over the phone:
                        {% endif %}
                        ID in person at the Post Office
                    </h2>

                    <p class="govuk-body">
                        Alternatively, you can take one of the identity documents listed below to a Post Office - this
                        will take longer and may delay access to your LPA.
                    </p>

                    {% if service_availability.data.POST_OFFICE %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="PostOffice" name="id_method" type="radio"
                                   value="POST_OFFICE">
                            <label class="govuk-label govuk-radios__label" for="PostOffice">
                                Post Office
                                <details class="govuk-details govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                                    <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Documents accepted at the Post Office
                                    </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <ul class="govuk-list govuk-list--bullet govuk-hint">
                                            <li>UK passport (up to 18 months expired)</li>
                                            <li>UK photocard driving licence</li>
                                            <li class="govuk-!-padding-bottom-4">UK biometric residence permit</li>
                                            <li>International passport</li>
                                            <li>EU/EEA photocard driving licence</li>
                                            <li>EU/EEA national identity card</li>
                                        </ul>
                                    </div>
                                </details>

                            </label>
                        </div>
                    {% else %}
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                Post Office verification is not presently available
                            </strong>
                        </div>
                    {% endif %}
                </div>

                <div class="govuk-form-group {% if form.get('id_method').messages %}govuk-form-group--error{% endif %}">

                    <h2 class="govuk-heading-m">Other methods</h2>

                    <p class="govuk-hint">
                        Only if the donor does not have or cannot obtain an appropriate ID document.
                    </p>

                    <div class="govuk-radios" data-module="govuk-radios">
                        {% if methods_data.VOUCHING %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="OnBehalf" name="id_method" type="radio"
                                       value="OnBehalf">
                                <label class="govuk-label govuk-radios__label" for="OnBehalf">Have someone vouch for the
                                    identity of the donor</label>
                            </div>
                        {% endif %}
                        {% if methods_data.COURT_OF_PROTECTION %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="CourtOfProtection" name="id_method" type="radio"
                                       value="cpr">
                                <label class="govuk-label govuk-radios__label" for="CourtOfProtection">The donor cannot
                                    do any of the above (Court of Protection)</label>
                            </div>
                        {% endif %}
                    </div>

                </div>

                <input type="submit" class="govuk-button" value="Continue">

            </div>

            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Related content</h2>
                <p class="govuk-body">
                    <a href="https://www.gov.uk/find-national-insurance-number" class="govuk-link" target="_blank"
                       rel="noopener">
                        Find a lost National Insurance number (opens in a new tab)
                    </a>
                </p>
                <p class="govuk-body">
                    <a href="https://www.gov.uk/apply-renew-passport" class="govuk-link" target="_blank" rel="noopener">
                        Apply online for a UK passport (opens in a new tab)
                    </a>
                </p>
                <p class="govuk-body">
                    <a href="https://www.gov.uk/replace-a-driving-licence" class="govuk-link" target="_blank"
                       rel="noopener">
                        Replace a lost, stolen, damaged or destroyed driving licence (opens in a new tab)
                    </a>
                </p>
            </div>
        </div>
    </form>
{% endblock %}


