<div class="moj-identity-bar">
    <div class="moj-identity-bar__container">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title">Identity Check: <b>{{ details_data.firstName }} {{ details_data.lastName }}</b></span>
        </div>
        <div class="moj-identity-bar__actions">
            <div class="moj-identity-bar__menu">
                <div class="moj-button-menu">
                    <div class="moj-button-menu__wrapper">
                        <a href="#"
                           role="button"
                           draggable="false"
                           class="govuk-button moj-button-menu__item govuk-button--secondary "
                           data-module="govuk-button"
                        >
                            Exit ID Check
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST">
            <h1 class="govuk-heading-xl">How will they confirm their identity</h1>

            <h2 class="govuk-heading-m">Preferred: ID over the phone</h2>
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                    {% for  key, datum in options_data %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ key }}" name="id_method" type="radio"
                                   value="{{ key }}">
                            <label class="govuk-label govuk-radios__label" for="{{ key }}">{{ datum }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">If unable to ID over the phone</h2>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="OnBehalf" name="id_method" type="radio"
                           value="OnBehalf">
                    <label class="govuk-label govuk-radios__label" for="OnBehalf">Choose someone to prove their identity on donor's behalf</label>
                </div>
            </div>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Other methods
                </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="PostOffice" name="id_method" type="radio"
                                   value="PostOffice">
                            <label class="govuk-label govuk-radios__label" for="PostOffice">
                                Post Office (current UK / EU / international passport or driving licence)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="CourtOfProtection" name="id_method" type="radio"
                                   value="CourtOfProtection">
                            <label class="govuk-label govuk-radios__label" for="CourtOfProtection">Court of protection</label>
                        </div>
                    </div>
                </div>
            </details>

            <input type="submit" class="govuk-button" value="Continue">
        </form>
    </main>
</div>
