{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if form.get('id_method').messages %}
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                    There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for message in form.get('id_method').messages %}
                                <li>
                                    <a href="#idMethodOptions">{{ message }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if service_availability.messages.banner %}
                <div class="govuk-notification-banner" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__content">
                        <div class="govuk-warning-text">
                    <span
                        class="govuk-warning-text__icon moj-ticket-panel__content--blue moj-tag--blue"
                        aria-hidden="true">!
                    </span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                <span id="serviceAvailabilityBanner">{{ service_availability.messages.banner }}</span>
                            </strong>
                        </div>
                    </div>
                </div>
            {% elseif service_availability.additional_restriction_messages|length > 0 %}
                {%  for value in service_availability.additional_restriction_messages %}
                    <div class="govuk-notification-banner" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__content">
                            <div class="govuk-warning-text">
                    <span
                            class="govuk-warning-text__icon moj-ticket-panel__content--blue moj-tag--blue"
                            aria-hidden="true">!
                    </span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    <span id="serviceAvailabilityBanner">{{ value }}</span>
                                </strong>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            {% endif %}
            <h1 class="govuk-heading-xl">{% block title %}How will you confirm your identity?{% endblock %}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">

                {% if service_availability.data.EXPERIAN %}
                    <div class="govuk-form-group">
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                    Read the following to the caller:
                                </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p class="govuk-body">
                                    Confirming your identity over the phone is the quickest and easiest option - you will need an National Insurance number, passport or driving licence.
                                </p>

                                <p class="govuk-body">
                                    We will check your identity, using the details you provide. We will also check your name, address and date of birth against a fraud database.
                                </p>

                                <p class="govuk-body">
                                    We’ll then ask you some security questions that only you should know the answer to. We use these to stop anyone who might have your ID document details from pretending to be you.
                                </p>

                                <p class="govuk-body">
                                    We use another organisation to generate these security questions and check your answers against information they have access to.
                                </p>

                                <p class="govuk-body">
                                    Can you confirm you're happy with us doing that?
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="govuk-form-group {% if form.get('id_method').messages %}govuk-form-group--error{% endif %}" id="idMethodOptions">

                    {% if service_availability.data.EXPERIAN %}
                        <h2 class="govuk-heading-m">Preferred: ID over the phone</h2>

                        <p class="govuk-body">
                            Which method will you use to ID over the phone?
                        </p>
                    {% endif %}

                    {% if form.get('id_method').messages %}
                        <p id="id_method-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.get('id_method').messages | join(', ', ' and ') }}
                        </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item {% if not service_availability.data.NATIONAL_INSURANCE_NUMBER %}moj-hidden{% endif %}">
                            <input
                                class="govuk-radios__input"
                                id="NATIONAL_INSURANCE_NUMBER"
                                name="id_method"
                                type="radio"
                                value="NATIONAL_INSURANCE_NUMBER"
                                {{ (form.get('id_method').value == 'NATIONAL_INSURANCE_NUMBER') ? 'checked' : '' }}
                            >
                            <label class="govuk-label govuk-radios__label" for="NATIONAL_INSURANCE_NUMBER">
                                National insurance number
                            </label>
                        </div>

                        <div class="govuk-radios__item {% if not service_availability.data.PASSPORT %}moj-hidden{% endif %}">
                            <input
                                class="govuk-radios__input"
                                id="PASSPORT"
                                name="id_method"
                                type="radio"
                                value="PASSPORT"
                                {{ (form.get('id_method').value == 'PASSPORT') ? 'checked' : '' }}
                            >
                            <label class="govuk-label govuk-radios__label" for="PASSPORT">
                                UK Passport (current or expired in the last 18 months)

                                <details class="govuk-details govuk-!-margin-top-4 govuk-!-margin-bottom-0" {% if details_open %} open {% endif %}>
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            Check if you're able to use an expired passport
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        Enter passport expiry date. For example 31 03 2012
                                        <div class="govuk-date-input" id="passport-issued">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                                        Day
                                                    </label>
                                                    <input
                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                        id="passport-issued-day"
                                                        name="passport_issued_day"
                                                        type="text"
                                                        inputmode="numeric"
                                                        value="{{ date_sub_form.get('passport_issued_day').value }}"
                                                    >
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                                        Month
                                                    </label>
                                                    <input
                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                        name="passport_issued_month" id="passport-issued-month"
                                                        type="text"
                                                        inputmode="numeric"
                                                        value="{{ date_sub_form.get('passport_issued_month').value }}"
                                                    >
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                                        Year
                                                    </label>
                                                    <input
                                                        class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                        name="passport_issued_year" id="passport-issued-year"
                                                        type="text"
                                                        inputmode="numeric"
                                                        value="{{ date_sub_form.get('passport_issued_year').value }}"
                                                    >
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <button class="app-button--align-baseline govuk-button govuk-button--secondary" name="check_button">
                                                    Check
                                                </button>
                                            </div>

                                            {% if invalid_date %}
                                                <div class="govuk-date-input__item">
                                                    <div
                                                        class="moj-banner moj-banner--warning moj-banner--date app-moj-banner"
                                                        role="region"
                                                        aria-label="Warning"
                                                        id="invalidDateMessage"
                                                    >
                                                        <svg
                                                            class="moj-banner__icon"
                                                            fill="currentColor"
                                                            role="presentation"
                                                            focusable="false"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 25 25"
                                                            height="25"
                                                            width="25"
                                                        >
                                                            <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
                                                        </svg>
                                                        <div class="moj-banner__message">
                                                            Out of date
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if valid_date %}
                                                <div class="govuk-date-input__item">
                                                    <div
                                                        class="moj-banner moj-banner--success moj-banner--date app-moj-banner"
                                                        role="region"
                                                        aria-label="Success"
                                                        id="validDateMessage"
                                                    >
                                                        <svg
                                                            class="moj-banner__icon"
                                                            fill="currentColor"
                                                            role="presentation"
                                                            focusable="false"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 25 25"
                                                            height="25"
                                                            width="25"
                                                        >
                                                            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
                                                        </svg>
                                                        <div class="moj-banner__message">
                                                            In date
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </details>
                            </label>
                        </div>

                        <div class="govuk-radios__item {% if not service_availability.data.DRIVING_LICENCE %}moj-hidden{% endif %}">
                            <input
                                class="govuk-radios__input"
                                id="DRIVING_LICENCE"
                                name="id_method"
                                type="radio"
                                value="DRIVING_LICENCE"
                                {{ (form.get('id_method').value == 'DRIVING_LICENCE') ? 'checked' : '' }}
                            >
                            <label class="govuk-label govuk-radios__label" for="DRIVING_LICENCE">
                                UK driving licence (must be current)
                            </label>
                        </div>
                    </div>

                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios" name="postOffice">

                        <h2 class="govuk-heading-m">
                            {% if service_availability.data.EXPERIAN %}
                                If unable to ID over the phone:
                            {% endif %}
                            ID in person at the Post Office
                        </h2>

                        <p class="govuk-body">
                            Alternatively, you can take one of the identity documents listed below to a Post Office -
                            this will take longer as we will need to send you a letter to take to the Post Office with your chosen ID.
                        </p>

                        {% if service_availability.data.POST_OFFICE %}
                            <div class="govuk-radios__item">
                                <input
                                    class="govuk-radios__input"
                                    id="POST_OFFICE"
                                    name="id_method"
                                    type="radio"
                                    value="POST_OFFICE"
                                    {{ (form.get('id_method').value == 'POST_OFFICE') ? 'checked' : '' }}
                                >
                                <label class="govuk-label govuk-radios__label" for="POST_OFFICE">
                                    Post Office
                                    <details class="govuk-details govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                                        <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            Identity documents accepted at the Post Office
                                        </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <ul class="govuk-list govuk-list--bullet govuk-hint">
                                                <li>UK passport (up to 18 months expired)</li>
                                                <li>UK photocard driving licence</li>
                                                <li class="govuk-!-padding-bottom-4">UK biometric residence permit</li>
                                                <li>International passport</li>
                                                <li>EU/EEA photocard driving licence</li>
                                                <li>EU/EEA national identity card</li>
                                            </ul>
                                        </div>
                                    </details>

                                </label>
                            </div>
                        {% else %}
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    Post Office verification is not presently available
                                </strong>
                            </div>
                        {% endif %}
                    </div>

                {% if details_data.personType == 'donor' and (methods_data.VOUCHING or methods_data.COURT_OF_PROTECTION) %}
                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios" name="otherMethods">
                        <h2 class="govuk-heading-m">Other methods</h2>

                        <p class="govuk-hint">
                            Only discuss these if the donor does not have, or cannot obtain, an appropriate ID document.
                        </p>

                        <div class="govuk-radios" data-module="govuk-radios">
                            {% if methods_data.VOUCHING %}
                                <div class="govuk-radios__item">
                                    <input
                                        class="govuk-radios__input"
                                        id="ON_BEHALF"
                                        name="id_method"
                                        type="radio"
                                        value="OnBehalf"
                                        {{ (form.get('id_method').value == 'OnBehalf') ? 'checked' : '' }}
                                    >
                                    <label class="govuk-label govuk-radios__label" for="ON_BEHALF">
                                        Have someone vouch for the identity of the donor
                                    </label>
                                </div>
                            {% endif %}
                            {% if methods_data.COURT_OF_PROTECTION %}
                                <div class="govuk-radios__item">
                                    <input
                                        class="govuk-radios__input"
                                        id="COURT_OF_PROTECTION"
                                        name="id_method"
                                        type="radio"
                                        value="cpr"
                                        {{ (form.get('id_method').value == 'cpr') ? 'checked' : '' }}
                                    >
                                    <label class="govuk-label govuk-radios__label" for="COURT_OF_PROTECTION">
                                        The donor cannot do any of the above (Court of Protection)</label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                </div>
                <input type="submit" class="govuk-button" value="Continue">
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Related content</h2>
            <p class="govuk-body">
                <a href="https://www.gov.uk/find-national-insurance-number" class="govuk-link" target="_blank"
                    rel="noopener">
                    Find a lost National Insurance number (opens in a new tab)
                </a>
            </p>
            <p class="govuk-body">
                <a href="https://www.gov.uk/apply-renew-passport" class="govuk-link" target="_blank" rel="noopener">
                    Apply online for a UK passport (opens in a new tab)
                </a>
            </p>
            <p class="govuk-body">
                <a href="https://www.gov.uk/replace-a-driving-licence" class="govuk-link" target="_blank"
                    rel="noopener">
                    Replace a lost, stolen, damaged or destroyed driving licence (opens in a new tab)
                </a>
            </p>
        </div>
    </div>
{% endblock %}


