<div class="moj-identity-bar">
    <div class="moj-identity-bar__container">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title">Identity Check: <b>{{ details_data.firstName }} {{ details_data.lastName }}</b></span>
        </div>
        <div class="moj-identity-bar__actions">
            <div class="moj-identity-bar__menu">
                <div class="moj-button-menu">
                    <div class="moj-button-menu__wrapper">
                        <a href="#"
                           role="button"
                           draggable="false"
                           class="govuk-button moj-button-menu__item govuk-button--secondary "
                           data-module="govuk-button"
                        >
                            Exit ID Check
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="post" target="">
            {% for questionBlock in questions_data %}

                {% if questionBlock.number != question %}
                    <input
                        type="hidden"
                        value="{{ form.get(questionBlock.number).value }}"
                        name="{{ questionBlock.number }}"
                    />
                {% else %}
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-xl">{{ questionBlock.question }}</h1>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h2 class="govuk-fieldset__heading">
                                        Select answer
                                    </h2>
                                </legend>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    {% for datum in questionBlock.prompts %}
                                        <div class="govuk-radios__item">
                                            <input
                                                    class="govuk-radios__input"
                                                    id="{{ datum }}"
                                                    name="{{ questionBlock.number }}"
                                                    type="radio"
                                                    value="{{ datum }}"
                                                    {% if form.get(questionBlock.number).value == datum %}checked{% endif %}
                                            >
                                            <label class="govuk-label govuk-radios__label"
                                                   for="{{ datum }}">{{ datum }}</label>
                                        </div>
                                    {% endfor %}
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="dontknow" name="{{ questionBlock.number }}" type="radio"
                                               value="dontknow">
                                        <label class="govuk-label govuk-radios__label" for="dontknow">I don't know</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-form-group">
                            <input class="govuk-button" type="submit" value="Continue">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </main>
</div>
