{% extends "@layout/layout.twig" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST" target="">
        <h1 class="govuk-heading-xl">
            {% block title %}
                National insurance number
            {%  endblock %}
        </h1>
        <h2 class="govuk-heading-m">Name</h2>
        <p class="govuk-body" id="nino_fullname">{{ details_data.firstName }} {{ details_data.lastName }}</p>
        <h2 class="govuk-heading-m">Date of birth</h2>
        <p class="govuk-body" id="nino_dob">{{ formattedDob }}</p>

        <div class="govuk-form-group {% if form.get('nino').messages %}govuk-form-group--error{% endif %}">
            <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="nino">
                    National Insurance number
                </label>
            </h2>

            <p id="nino-hint" class="govuk-hint  govuk-!-width-two-thirds">
                A National Insurance number is made up of 2 letters, 6 numbers and a final letter,
                which is always A, B, C or D. Example QQ 12 34 56 A
            </p>

            {% if form.get('nino').messages %}
                <p id="nino-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.get('nino').messages | join(', ', ' and ') }}
                </p>
            {% endif %}

            {% if route_availability.data.NATIONAL_INSURANCE_NUMBER %}
                <input
                        class="govuk-input govuk-!-width-one-third {% if form.get('nino').messages %}govuk-input--error{% endif %}"
                        id="nino" name="nino" type="text" autocomplete="off"
                        value="{{ form.get('nino').value }}"
                        aria-describedby="nino-hint {% if form.get('nino').messages %}nino-error{% endif %}"
                />
            {% else %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        This identity verification option is not available at present
                    </strong>
                </div>
            {% endif %}

        </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Where to find the National Insurance number
                </span>
            </summary>
            <div class="govuk-details__text">
                Your National Insurance number can be found on
                <ul class="govuk-list govuk-list--bullet">
                    <li>National Insurance card</li>
                    <li>payslip</li>
                    <li>P60</li>
                    <li>benefits information</li>
                    <li>tax return</li>
                </ul>
            </div>
        </details>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Ensure the details entered are correct before continuing
            </strong>
        </div>
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
                <a
                        href="./how-will-you-confirm"
                        role="button"
                        draggable="false"
                        class="govuk-button govuk-button--secondary govuk-!-static-margin-left-2"
                        data-module="govuk-button"
                >
                    Try a different method
                </a>
        </div>
    </form>
{%  endblock %}
