<h1 class="govuk-heading-xl">UK passport</h1>
<form method="POST" target="">
    <h2 class="govuk-heading-m">Name on passport</h2>
    <p class="govuk-body">
        {{ details_data.Name }}
    </p>
    <h2 class="govuk-heading-m">Date of Birth</h2>
    <p class="govuk-body">
        {{ details_data.DOB }}
    </p>
    <div class="govuk-form-group {% if form.get('passport').messages %}govuk-form-group--error{% endif %}">
        <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="passport">
                Passport Number
            </label>
        </h2>

        <p id="passport-hint" class="govuk-hint">
            A UK passport number is 9-digits
        </p>

        {% if form.get('passport').messages %}
            <p id="passport-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ form.get('passport').messages | join(', ', ' and ') }}
            </p>
        {% endif %}

        <input
                class="govuk-input govuk-!-width-one-third {% if form.get('passport').messages %}govuk-input--error{% endif %}"
                id="passport" name="passport" type="text" autocomplete="passport"
                value="{{ form.get('passport').value }}"
                aria-describedby="passport-hint {% if form.get('passport').messages %}passport-error{% endif %}"
        />
    </div>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Where to find the Passport Number
                </span>
        </summary>
        <div class="govuk-details__text">
            The passport number is located at the top right-hand corner of the Personal Details page, printed in
            bold, black ink. Example
            <img src="{{ '/assets/images/passport_sample.png' | basepath }}" alt="passport_sample"/>
        </div>
    </details>

    <div class="govuk-form-group {% if form.get('inDate').messages %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="govuk-error-message">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                    Passport in date?
                </h2>
            </legend>
            {% if form.get('inDate').messages %}
                <p id="passport-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.get('inDate').messages | join(', ', ' and ') }}
                </p>
            {% endif %}
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="inDateTrue" name="inDate" type="radio"
                           value="yes">
                    <label class="govuk-label govuk-radios__label" for="inDateTrue">Yes</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="inDateFalse" name="inDate" type="radio"
                           value="no">
                    <label class="govuk-label govuk-radios__label" for="inDateFalse">No</label>
                </div>
            </div>
        </fieldset>
    </div>
    <details class="govuk-details">
        <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with checking if passport is in date
                </span>
        </summary>
        <div class="govuk-details__text">
            Enter passport expiry date. For example 31 3 1980

            <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                               name="passport-issued-day" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                               id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                               id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <a href="" role="button" draggable="false"
                           class="govuk-button moj-button-menu__item govuk-button--secondary "
                           data-module="govuk-button">
                            Check
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </details>
    <button class="govuk-button">Continue</button>
    <a href="./address_verification" role="button" draggable="false"
       class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
        Try a different method
    </a>
</form>
