{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">UK passport</h1>
        <form method="POST" target="">
            <h2 class="govuk-heading-m">Name on passport</h2>
            <p class="govuk-body">
                {{ details_data.Name }}
            </p>
            <h2 class="govuk-heading-m">Date of birth</h2>
            <p class="govuk-body">
                {{ details_data.DOB }}
            </p>
            <div class="govuk-form-group {% if form.get('passport').messages %}govuk-form-group--error{% endif %}">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="passport">
                        Passport number
                    </label>
                </h2>

                <p id="passport-hint" class="govuk-hint">
                    A UK passport number is 9-digits
                </p>

                {% if form.get('passport').messages %}
                    <p id="passport-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.get('passport').messages | join(', ', ' and ') }}
                    </p>
                {% endif %}

                <input
                        class="govuk-input govuk-!-width-one-third {% if form.get('passport').messages %}govuk-input--error{% endif %}"
                        id="passport" name="passport" type="text" autocomplete="passport"
                        value="{{ form.get('passport').value }}"
                        aria-describedby="passport-hint {% if form.get('passport').messages %}passport-error{% endif %}"
                />
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Where to find the passport number
                </span>
                </summary>
                <div class="govuk-details__text">
                    The passport number is located at the top right-hand corner of the <br/>personal details page,
                    printed in
                    bold, black ink. Example:
                    <br/>
                    <br/>
                    <img src="{{ '/assets/images/passport_sample.png' | basepath }}"
                         alt="Photo of passport highlighting location of passport number"/>
                </div>
            </details>

            <div class="govuk-form-group {% if form.get('inDate').messages %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="govuk-error-message">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Passport in date?
                        </h2>
                    </legend>
                    {% if form.get('inDate').messages %}
                        <p id="passport-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.get('inDate').messages | join(', ', ' and ') }}
                        </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="inDateTrue" name="inDate" type="radio"
                                   value="yes">
                            <label class="govuk-label govuk-radios__label" for="inDateTrue">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="inDateFalse" name="inDate" type="radio"
                                   value="no">
                            <label class="govuk-label govuk-radios__label" for="inDateFalse">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <details class="govuk-details" {% if details_open %} open {% endif %}>
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with checking if passport is in date
                </span>
                </summary>
                <div class="govuk-details__text">
                    Enter passport expiry date. For example 31 03 2012

                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="passport-issued-day"
                                       name="passport_issued_day" type="text" inputmode="numeric"
                                       value="{{ date_sub_form.get('passport_issued_day').value }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       name="passport_issued_month" id="passport-issued-month" type="text"
                                       inputmode="numeric"
                                       value="{{ date_sub_form.get('passport_issued_month').value }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       name="passport_issued_year" id="passport-issued-year" type="text"
                                       inputmode="numeric"
                                       value="{{ date_sub_form.get('passport_issued_year').value }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <button
                                    class="app-button-no-v-align govuk-button--secondary"
{#                                    data-module="govuk-button"#}
                                    name="check_button"
                            >Check
                            </button>
                        </div>

                        {% if invalid_date %}
                            <div class="govuk-date-input__item">
                                <div class="moj-banner moj-banner--warning moj-banner--date app-moj-banner" role="region"
                                     aria-label="Warning">
                                    <svg class="moj-banner__icon" fill="currentColor" role="presentation"
                                         focusable="false"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                                        <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
                                    </svg>
                                    <div class="moj-banner__message">Out of date</div>
                                </div>
                            </div>
                        {% endif %}

                        {% if valid_date %}
                            <div class="govuk-date-input__item">
                                <div class="moj-banner moj-banner--success moj-banner--date app-moj-banner" role="region"
                                     aria-label="Success">
                                    <svg class="moj-banner__icon" fill="currentColor" role="presentation"
                                         focusable="false"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                                        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
                                    </svg>
                                    <div class="moj-banner__message">In date</div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </details>
            <button class="govuk-button" name="continue_button">Continue</button>
            <a href="/{{ uuid }}/how-will-donor-confirm" role="button" draggable="false"
               class="govuk-button moj-button-menu__item govuk-button--secondary govuk-!-static-margin-left-2"
               data-module="govuk-button">
                Try a different method
            </a>
        </form>
    </main>
</div>
